
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('bg1.png') no-repeat;
    background-size: cover;
    background-position: center;
    font-size: larger;
}

/* #title {
    position: relative;
} */